{% extends 'base.html' %}
{% load static %}
{% load customtags %}
{% load thumbnail %}
{% block content %}
<script>
    // При нажатии кнопки +/- добавляется/уменьшается кол-во товара в корзине и увеличивается/уменьшается общая цена и общее кол-во товаров
    $(document).ready(function () {
        $('.add-one').click(function () {
            let amount = parseInt($(this).next().children('p').text(), 10)
            if (amount > 0) {
                $(this).next().children('p').text(amount + 1)
                $(this).parent().find("input[name='quantity']").attr('value', $(this).next().children('p').text())
                var final_price = Number(document.getElementById("final_price").textContent);
                var final_amount = Number(document.getElementById("final_amount").textContent);
                final_amount += 1
                final_price += parseInt($(this).parent().prev().find("div").find('p[class="card-price"]').text())
                document.getElementById("final_price").textContent = final_price
                document.getElementById("final_amount").textContent = final_amount
            }
        });
        $(document).ready(function () {
            $('.remove-one').click(function () {
                let amount = parseInt($(this).prev().children('p').text(), 10)
                if (amount > 1) {
                    $(this).prev().children('p').text(amount - 1)
                    $(this).parent().find("input[name='quantity']").attr('value', $(this).prev().children('p').text())
                    var final_price = Number(document.getElementById("final_price").textContent);
                    var final_amount = Number(document.getElementById("final_amount").textContent);
                    final_amount -= 1
                    final_price -= parseInt($(this).parent().prev().find("div").find('p[class="card-price"]').text())
                    document.getElementById("final_price").textContent = final_price
                    document.getElementById("final_amount").textContent = final_amount
                } else {
                    toastr.error("Не меньше 1 шт")
                }
            });
        });
    });
</script>
<script>
    // При нажатии кнопки "Удалить товар" товар удаляется из html страницы и из заказа в БД
    $(document).ready(function () {
        $(".delete-product").submit(function () {
            var elem = $(this)
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (html) {
                    if (elem.attr('name') == 'delete') {
                        var final_price = Number(document.getElementById("final_price").textContent);
                        var final_amount = Number(document.getElementById("final_amount").textContent);
                        product_amount = parseInt(elem.find("div[class='in-cart']").find("div[class='amount").find("p[name='quantity']").text())
                        final_amount -= product_amount
                        final_price -= parseInt(elem.find("div[class='card-text']").find("div").find('p[class="card-price"]').text()) * product_amount
                        document.getElementById("final_price").textContent = final_price
                        document.getElementById("final_amount").textContent = final_amount
                        elem.remove();
                    } else {
                        if (html['update']) {
                            toastr.success("Данные сохранены")
                        } else {
                            $('#button-form-' + name).remove()
                            $('#window_form').append(html)
                            $('#button-form-' + name).addClass("show");
                        }
                    }
                }
            });
            return false;
        });
    });
</script>
<script>
    // При нажатии кнопки "Оформить заказ" собираются списки: id товаров, количество каждого товара; и отправляется на сервер.
    // При ошибке (Нет адреса, телефона, продукт убран из заказа на другой странице, кол-во товара превышает его остаток в БД) выводится ошибка.
    // При успешном закрытии заказа - выводится табличка с уведомлением и ссылкой на главную.
    $(document).ready(function () {
        $("#close-cart-button").click(function () {
            var products_list = []
            var quantitys_list = []
            var quantitys = document.getElementsByClassName("input-quantity")
            var products = document.getElementsByClassName("input-product")
            for (index = 0; index < quantitys.length; ++index) {
                products_list.push(products[index].value)
                quantitys_list.push(quantitys[index].value)
            }
            document.getElementById('final-input-product').value = products_list
            document.getElementById('final-input-quantity').value = quantitys_list
        });
        $("#close-cart").submit(function () {
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (html) {
                    document.getElementById("blackout").classList.toggle("show");
                    document.getElementsByClassName("success-order")[0].classList.toggle("show");
                    var products = document.getElementsByClassName('delete-product')
                    for (var i = 0; i < products.length; i++) {
                        products[i].parentNode.removeChild(products[i]);
                    }

                },
                error: function (html) {
                    text = JSON.parse(html.responseText)
                    toastr.error(text['error'])
                }
            });
            return false
        })
    });
</script>
<div class="success-order">
    <div id="success-order-block">
        <div id="success-order-up-block">
            <div id="success-order-img-block">
                <img id="success-order-img" class="icon" src="{% static 'user/sucess.svg' %}" />
            </div>
            <div id="success-order-text-block">
                <p id="success-order-text-1">Спасибо!</p>
                <p id="success-order-text-2">Ваша заявка принята. Мы свяжемся с вами в ближайшее время</p>
            </div>
        </div>
        <div id="success-order-down-block">
            <a href="{% url 'products:index' %}">
                <p>
                    Перейти на главную
                </p>
            </a>
        </div>
    </div>
</div>
<div class="main-block" name="cart">
    <div class="cart-width">
        <div id="cart-links">
            <a href="{% url 'products:index' %}">Главная</a>
            <p> → </p>
            <a href="{% url 'user:cart'%}">Корзина</a>
        </div>
        <p id="cart-head-text">Корзина</p>
    </div>
    <img id="background_image" src="{% static 'user/cart.png' %}" />
</div>
<div id="close-order" class="main-block">
    <form id="close-cart" method="post" action="{% url 'user:cart' %}">
        {% csrf_token %}
        <div class="filter-block">
            <div>
                <div class="filter-block-inner border-bottom">
                    <div>
                        <p class="filter-text">Итого</p>
                    </div>
                    <div class="card-final">
                        <div class="row-final">
                            <p class="final-text">Количество товара</p>
                            <div style="display: flex;">
                                <p id="final_amount" class="final-text">{{ final_amount }}</p>
                                <p class="final-text">&nbsp;шт.</p>
                            </div>
                        </div>
                        <div class="row-final">
                            <p class="final-text">Товаров на сумму</p>
                            <div style="display: flex;">
                                <p id="final_price" class="final-text">{{ final_price }}</p>
                                <p class="final-text">&nbsp;₽</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-block-inner">
                    <div>
                        <div class="left-block">
                            <p class="profile-input-block">Адрес</p>
                            <input type="address" class="profile-input" name="address" required placeholder="Адрес">
                        </div>
                        <div class="left-block">
                            <p class="profile-input-block">Телефон</p>
                            <input type="tel" class="profile-input" name="phone" required placeholder="+7(359)90-38-98"
                                value="{{ user.phone }}">
                        </div>
                    </div>
                </div>
                <div class="filter-block-inner border-top">
                    <div>
                        <button id="close-cart-button" type="submit" class="button-close" name="close">
                            <p>Оформить заказ</p>
                        </button>
                        <input id="final-input-product" type="text" name="product" hidden>
                        <input id="final-input-quantity" type="text" name="quantity" hidden>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="products">
        {% for order in cart %}
        <form id="{{ order.product.id }}" class="delete-product" name="delete" method="post"
            action="{% url 'products:change_cart' %}">
            {% csrf_token %}
            <div class="card-cart">
                {% thumbnail order.product.main_image "278x208" crop="center" upscale=True as product_image %}
                <img src="{{ product_image.url }}" />
                {% endthumbnail %}
                <div>
                    <div class="card-info">
                        <div class="card-text">
                            <p class="filter-text">{{ order.product.name }}</p>
                            <div style="display: flex;">
                                <p class="card-price">{{ order.product.price }}</p>
                                <p class="card-price">&nbsp;₽</p>
                            </div>
                        </div>
                        <div class="in-cart">
                            <button type="button" class="add-one">
                                <img src="{% static 'card/add.svg' %}" />
                            </button>
                            <div class="amount">
                                <p name="quantity">{{ order.quantity }}</p>
                            </div>
                            <button type="button" class="remove-one">
                                <img src="{% static 'card/remove.svg' %}" />
                            </button>
                            <input class="input-quantity" type="text" name="quantity" value="{{ order.quantity }}"
                                hidden>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="product-info">
                        <div>
                            <p class="product-id">Код товара:</p>
                            <p class="product-id">{{ order.product.id }}</p>
                        </div>
                        <button type="submit" class="button-delete show" name="delete" hidden>
                            <p>Удалить товар</p>
                        </button>
                        <input class="input-product" type="text" name="product" value="{{ order.product.id }}" hidden>
                        <input type="text" name="delete" hidden>
                    </div>
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}