<!DOCTYPE html>
<html lang="ru">

<head>
    {% include 'includes/settings.html' %}
</head>

<body>
    <div id="blackout" class="blackout">
    </div>
    <div id="window_form" class="window">
        {% if user.is_authenticated %}
        {% include 'user/profile.html' %}
        {% else %}
        {% include 'auth/login.html' %}
        {% include 'auth/signup.html' %}
        {% endif %}
    </div>
    <header>
        {% include 'includes/header.html' %}
    </header>
    {% block content %}
    {% endblock %}

    <footer class="footer">
        {% include 'includes/footer.html' %}
    </footer>
</body>

</html>