html {
    height: 100% !important;
}

body {
    background-color: rgba(255, 255, 255, 1);
}

button {
    cursor: pointer;
    border-style: groove;
    border-width: 1px;
    border-color: #cfcfcf;
}

p,
.footer-link a,
.form-error {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

a {
    font-weight: 100;
    margin: 0;
    text-decoration: none !important;
}

.blackout {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: black;
    opacity: .7;
}

.success-order {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 105;
}

#success-order-block {
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#success-order-up-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#success-order-down-block {
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgba(252, 236, 65, 1);
}

#success-order-down-block a {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#success-order-down-block a p {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    margin: 0;
    font-weight: 100;
}

#success-order-text-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#success-order-text-1 {
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
}

#success-order-text-2 {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 24px;
}

#success-order-img-block,
#success-order-img {
    width: 80px;
    height: 80px;
}

#comment-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border: 1px solid #cfcfcf;
}

#comment-button {
    height: 48px;
    background-color: yellow;
}

#comment-area {
    height: 100px;
    padding: 0;
    margin: 0;
}

.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 15px;
}

.comment-head-author {
    width: 20%;
    margin: 0;
    display: flex;
    border: 1px solid #cfcfcf;
    justify-content: center;
}

.comment-head-author-text-1 {
    margin-right: 5px;
    margin-left: 5px;
}

.comment-head-topic {
    width: 63%;
    margin: 0;
    display: flex;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    justify-content: center;
}

.comment-head-topic-text {
    margin-right: 5px;
    margin-left: 5px;
}

.comment-head-score {
    width: 17%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.comment-head-score-text-1 {
    margin-right: 5px;
    margin-left: 5px;
}

.comment-text {
    margin: 0;
    display: flex;
    word-break: break-all;
}

.rating-area {
    overflow: hidden;
    width: 21%;
    height: 50px;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-result {
    width: 265px;
    margin: 0 auto;
    text-align: center;
}

.rating-result span {
    padding: 0;
    font-size: 32px;
    margin: 0 3px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-result>span:before {
    content: '★';
}

.rating-result>span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}

.rating-mini {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.price-field {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.price-field span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}

.rating-mini>span:before {
    content: '★';
}

.rating-mini>span.active {
    color: gold;
}

.login-block {
    padding: 36px;
    text-align: center;
}

.enter_text {
    padding: 0;
    margin: 0;
    font-size: 39px;
    margin-bottom: 24px;
}

.profile-input-block {
    text-align: start;
    font-weight: 100;
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
}

.profile-input {
    background-color: rgb(246 246 246);
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
    height: 47px;
    padding: 0 16px;
    margin-bottom: 11px;
}

.profile-input:last-child {
    margin-bottom: 24px;
}

.forget_password_text {
    text-align: start;
    font-weight: 100;
    color: gray;
    margin: 0;
    margin-bottom: 24px;
}

.main-block[name="list"] {
    flex-direction: unset;
    width: auto;
}

.filter-block {
    margin-right: 16px;
    height: min-content;
    border: 1px solid #cfcfcf;
}

.filter-block-inner {
    padding: 16px;
}

.border-bottom {
    border-bottom: 1px solid #cfcfcf;
}

.border-top {
    border-top: 1px solid #cfcfcf;
}


.active-filter {
    text-align: start;
    font-weight: 100;
    color: black;
    margin: 0;
    margin-right: 15px;
}

.in-active-filter {
    text-align: start;
    font-weight: 100;
    color: gray;
    margin: 0;
    margin-right: 15px;
}

.order-text {
    text-align: start;
    font-weight: 200;
    font-size: 18px;
    margin: 0;
}

.filter-text {
    text-align: start;
    font-weight: 200;
    font-size: 18px;
    margin: 0;
    margin-bottom: 12px;
}

.filter-input {
    background-color: rgb(246 246 246);
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
    height: 47px;
    padding: 0;
}

.filter-input::placeholder {
    text-align: center;
}

.paginator-pages {
    display: flex;
}

.page-item {
    display: flex;
    flex-wrap: wrap;
    width: 51px;
    height: 51px;
    border: 1px solid #cfcfcf;
    align-content: center;
    justify-content: center;
}

.card-detail {
    display: flex;
}

.images {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 571px;
    height: auto;
}

.thumbnails {
    display: flex;
    justify-content: center;
    border: 1px solid #cfcfcf;
    border-top: unset
}

.main_image {
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 5px;
    border: 1px solid #cfcfcf;
}

#main_image {
    width: auto;
    height: auto;
}

.thumbnails img {
    margin: 5px;
    opacity: 1;
    transition: 0.3s;
    width: 100px;
    height: 100px;
    border: 1px solid #cfcfcf;
}

.sell-block {
    height: min-content;
    width: 588px;
}

.sell {
    padding: 24px;
    border: 1px solid #cfcfcf;
}

#product-name {
    font-size: 34px;
    margin-bottom: 10px;
}

#product-in-stock {
    color: green;
    font-weight: 100;
    font-size: 19px;
}

#product-not-stock {
    color: red;
    font-size: 19px;
}

#price {
    font-size: 28px;
    color: black;
}

.buttons {
    margin-bottom: 48px;
    display: flex;

}

#company {
    font-size: 16px;
    font-weight: 100;
}

.button-amount,
.add-one,
.remove-one {
    width: 48px;
    height: 52px;
    background-color: white;
    border: unset;
}

#amount-buttons {
    margin-left: 10px;
    display: flex;
    text-align: center;

}

#amount {
    height: 50px;
}

.change-amount {
    font-size: 34px;
    font-weight: 100;
    margin: 0;
}

.description-main-block {
    border: 1px solid #cfcfcf;
}

#description-head-text {
    width: 768px;
    font-size: 39px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 20px;
}

#description-text {
    width: 768px;
    font-size: 21px;
    font-weight: 100;
    margin: 0;
}

.main-block[name='cart'] {
    height: 232px;
    position: relative;
    z-index: 1;
}

#background_image {
    width: 1360px;
    height: 232px;
    position: absolute;
}

.cart-width {
    width: 1300px;
    z-index: 100;
    position: absolute;
    color: black;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#cart-links {
    display: flex;
    font-size: 21px;
    font-weight: 100;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    align-items: center;
}

#cart-links a {
    color: black;
}

#cart-links p {
    margin: 15px;
}

#cart-head-text {
    font-size: 50px;
    margin: 0;
}

#close-order {
    display: flex;
}

#orders-list {}

.card-order {
    display: flex;
    border: 1px solid #cfcfcf;
    margin-bottom: 16px;
}

.card-order-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.card-orders-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 392px;
}

.card-order-right {
    display: flex;
    justify-content: space-between;
}

.card-cart {
    display: flex;
    border: 1px solid #cfcfcf;
    margin-bottom: 16px;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;
    min-height: 176px;
    justify-content: space-between;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    width: 262px;
    flex-direction: column;
    padding: 16px;
    min-height: 176px;
    justify-content: space-between;
}

.card-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.card-price {
    margin: 0;
    font-size: 24px;
    color: black;
}

.amount {
    text-align: center;
    width: 100%;
}

.product-id {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 18px;
}

.button-delete {
    background-color: white;
    width: 100%;
    font-size: 15px;
    height: 46px;
    justify-content: center;
}

.button-delete p {
    width: auto;
}

.row-final {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12px;
}

.final-text {
    font-size: 15px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.button-login,
.button-switch,
.button-reset,
.button-signup,
.button-add,
.button-profile,
.button-close {
    background-color: rgba(252, 236, 65, 1);
    width: 100%;
    font-size: 15px;
    height: 46px;
    justify-content: center;
}

.button-login p,
.button-switch p,
.button-signup p,
.button-add p,
.button-close p,
.button-reset p,
.button-delete p,
.button-profile p {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}

.button-switch,
.button-reset {
    background-color: white;
    margin-top: 12px;
}

.signup-block {
    padding: 36px;
    justify-content: center;
}

.signup-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.left-block {
    margin-right: 8px;
    width: 100%;
}

.right-block {
    margin-left: 8px;
    width: 100%;
}

.profile-block {
    height: auto;
    text-align: start;
}

.profile-info-block {
    border-top: 1px solid #cfcfcf;
    padding: 36px;
    margin-top: 40px;
}

.profile-info-row {
    display: flex;
}

.profile-info-row p,
.active-filter p,
.in-active-filter p {
    font-weight: 100;
}

.main-block {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

header .main-block {
    width: 100%;
}

/*header section*/
.up {
    background-color: rgba(47, 50, 58, 1);
    height: 42px;
}

.down {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}

/*logo block*/
.logo-text-header {
    text-align: center;
    color: black;
}

.logo-text-footer {
    text-align: center;
    color: rgba(232, 233, 234, 1);
}

.logo-box {
    box-sizing: border-box;
}

/*control panel*/
.control-panel {
    display: flex;
    width: auto;
    box-sizing: border-box;
    height: 100%;
}

/*all categorys button*/
.arrow-icon {
    display: flex;
    width: 18px;
    height: 18px;
    align-content: center;
    flex-wrap: wrap;
}

.dropbtn:hover,
.button-in-cart:hover,
.button-favorite:hover {
    background-color: #f89406
}

.dropbtn {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 236, 65, 1);
    width: 198px;
}

.dropdown-content {
    display: none;
    min-width: 160px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown {
    display: block;
    padding: 0;
    margin: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

/*search field*/
input {
    background-color: rgb(246 246 246);
    border: hidden;
    padding: 16px 0 16px 12px;
    flex: 1;
    box-sizing: border-box;
    height: 100%;
}

input::placeholder {
    font-weight: 400;
    font-size: 19px;
    opacity: 0.5;
}

.input {
    background-color: rgb(246 246 246);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;
    box-sizing: border-box;
    height: 100%;
}

.vector {
    flex: 1;
    align-self: stretch;
    object-fit: cover;
}

/*icons block*/
.icons-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82px;
    border: hidden;
    background-color: transparent;
}

.icon {
    height: 24px;
    width: 24px;
}

.icon-text:first-child {
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.icon-text {
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 22px;
    color: rgba(69, 73, 80, 1);
    text-align: center;
}

.icon-text-header {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 22px;
    color: rgba(69, 73, 80, 1);
    text-align: center;
}

/*main section*/
/*categorys section*/
.categorys-text {
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgba(47, 50, 58, 1);
    font-size: 34px;
}

.category-text {
    color: rgba(47, 50, 58, 1);
    align-self: stretch;
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
}

.category-row {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

/*category card*/
.category {
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 168px;
}

.image {
    width: auto;
    height: auto;
    padding: 16px;
}


/*popular section*/
.popular {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/*product card*/
.card {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    height: 463px;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(232, 233, 234, 1);
    overflow: hidden;
}

.card-down {
    background-color: rgba(255, 255, 255, 1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
    align-self: stretch;
    border-top: 1px solid rgba(232, 233, 234, 1);
}

.card-description {
    margin-bottom: 16px;
    margin-left: -1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    height: 100%;
    justify-content: space-between;
}

.popular-text {
    font-size: 16px;
    font-weight: normal;
}

/*in-cart button*/
.in-cart {
    background: linear-gradient(rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 1)),
        rgba(252, 236, 65, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    height: auto;
    width: 100%;
}


.out-stock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    align-self: stretch;
}

.out-stock-text-block {
    background-color: #e18241;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    align-self: stretch;
    font-size: 15px;
}

.form-in-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    align-self: stretch;
}

.button-in-cart {
    background-color: rgba(252, 236, 65, 1);
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    align-self: stretch;
    font-size: 15px;
}

.button-in-cart span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

/*favorite button*/
.form-favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48px;
    align-self: stretch;
}

.button-favorite {
    background-color: rgba(252, 236, 65, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48px;
    align-self: stretch;
}

.card-favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 48px;
}

.favorite-icon {
    height: 33px;
    width: 33px;
}


/*footer section*/
.footer {
    background-color: rgba(47, 50, 58, 1);
    padding: 40px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-links-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.footer-link a {
    color: rgba(232, 233, 234, 1);
}

.footer-link:first-of-type {
    margin-top: 0;
}

.toast-error {
    background-color: red !important;
}

.head_margin {
    margin-bottom: 18rem;
}

@media (min-width: 992px) {
    .head_margin {
        margin-bottom: 10rem;
    }
}

@media (min-width: 992px) {
    .icon-text-header {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .mobile-filters {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (min-width: 992px) {
    .mobile-filters-button {
        display: none !important;
    }
}

#id_price_range_0::placeholder {
    content: 0;
}

#id_price_range_1,
#id_price_range_0 {
    width: 100% !important;
    padding: 8px 0 8px 6px !important;
}

#id_price_range_1::placeholder {
    content: 999999;
}

.toast-success {
    background-color: green !important;
}