{% extends 'base.html' %}
{% load customtags %}
{% load thumbnail %}
{% block content %}
<script>
    // Клик по сортировке отправляет форму
    $(function () {
        $('.sort').click(function () {
            sort_name = $(this).attr('name')
            $('#sort_input').attr('value', sort_name)
            $('#set-filter').click()
            return false
        });
    });
    // Клик по странице отправляет форму
    $(function () {
        $('.page-item').click(function () {
            selected_page = $(this).attr('href').slice(-1)
            $('#page_input').attr('value', selected_page)
            $('#set-filter').click()
            return false
        });
    });
</script>
<div class="main-block container d-block" name="list">
    <p class="enter_text">{{ category.name }}</p>
    <div class="row">
        <div class="col-12 col-lg-3">
            <button class="mobile-filters-button btn btn-light w-100 mb-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#filter-price" aria-expanded="false" aria-controls="filter-price">
                <span>Фильтры</span>
            </button>
            <form id="filter-price" class="filter-block accordion collapse navbar-collapse mobile-filters" method="post"
                action="{% url 'products:category' category.id %}">
                {% csrf_token %}
                <div class="accordion accordion_collapse w-100 mb-3 mobile-filters" id="filters"
                    style="overflow: hidden;">
                    <div class="filter-block-inner">
                        <div>
                            <p class="filter-text">Цена</p>
                        </div>
                        <div class="profile-info-row">
                            <div class="left-block">
                                <input type="number" class="filter-input" name="min_price" placeholder="от 1 000"
                                    value="{{min_price}}">
                            </div>
                            <div class="right-block">
                                <input type="number" class="filter-input" name="max_price" placeholder="до 100 000"
                                    value="{{max_price}}">
                            </div>
                        </div>
                    </div>
                    <div class="filter-block-inner">
                        <div>
                            <button id="set-filter" type="submit" class="button-signup" name="apply">
                                <p>Применить</p>
                            </button>
                            <button type="submit" class="button-reset" name="reset">
                                <p>Сбросить</p>
                            </button>
                            <input id="sort_input" name="sort_type" value="{{ now_sort }}" hidden>
                            <input id="page_input" name="select_page" value="{{ page_obj.number }}" hidden>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-9">
            <div class="icons-block justify-content-around">
                <a class="sort {% if now_sort == 'popular' %}active-filter{% else %}in-active-filter{% endif %}"
                    name="popular" href="{% url 'products:category' category.id %}">
                    <p>Популярные</p>
                </a>
                <a class="sort {% if now_sort == 'min_price' %}active-filter{% else %}in-active-filter{% endif %}"
                    name="min_price" href="{% url 'products:category' category.id %}">
                    <p>Дешевле</p>
                </a>
                <a class="sort {% if now_sort == 'max_price' %}active-filter{% else %}in-active-filter{% endif %}"
                    name="max_price" href="{% url 'products:category' category.id %}">
                    <p>Дороже</p>
                </a>
                <a class="sort {% if now_sort == 'alphabet' %}active-filter{% else %}in-active-filter{% endif %}"
                    name="alphabet" href="{% url 'products:category' category.id %}">
                    <p>По алфавиту</p>
                </a>
            </div>
            <div class="row">
                {% for product in page_obj %}
                <div class="col-6 col-lg-3 mb-3">
                    <div class="card">
                        <a class="image" href="{% url 'products:product' product.id %}">
                            {% thumbnail product.main_image "278x208" crop="center" upscale=True as product_image %}
                            <img src="{{ product_image.url }}" />
                            {% endthumbnail %}
                        </a>
                        <div class="card-down">
                            <div class="card-description">
                                <p class="popular-text">
                                    {{ product.name }}
                                </p>
                                <div class="price-field row">
                                    <p class="price col-12">{{ product.price }} ₽</p>
                                    <div class="rating-mini col-12">
                                        <span class="{% if product.score >= 1 %}active{% endif %}"></span>
                                        <span class="{% if product.score >= 2 %}active{% endif %}"></span>
                                        <span class="{% if product.score >= 3 %}active{% endif %}"></span>
                                        <span class="{% if product.score >= 4 %}active{% endif %}"></span>
                                        <span class="{% if product.score == 5 %}active{% endif %}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="in-cart">
                                {% include 'products/in-out_cart.html' %}
                                {% include 'products/in-out_favorite.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include 'includes/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}