{% load static %}
{% if product.quantity %}
<form class="form-in-cart" name="in-cart" action="{% url 'products:change_cart'%}">
    {% csrf_token %}
    {% if product.id in now_order %}
    <button type="submit" class="button-in-cart" name="cart" style="background-color: rgb(219 255 101);">
        <span>В корзине</span>
    </button>
    <input type="text" name="in_cart" value="True" hidden>
    {% else %}
    <button type="submit" class="button-in-cart" name="cart">
        <span>В корзину</span>
    </button>
    <input type="text" name="in_cart" value="False" hidden>
    {% endif %}
    <input type="text" name="product" value="{{ product.id }}" hidden>
    <input type="text" name="authenticated" value="{{ user.is_authenticated }}" hidden>
    <input id="input-quantity-{{ product.id }}" type="text" name="quantity" value="{{quantity}}" hidden>
</form>
{% else %}
<div class=" out-stock">
    <div class="out-stock-text-block">
        <span>Нет в наличии</span>
    </div>
</div>
{% endif %}