{% extends 'base.html' %}
{% load static %}
{% load customtags %}
{% load thumbnail %}
{% block content %}
<script>
    // Отправка отзыва на сервер. При ошибке (Недостаточно символов) выдает уведомление. При успехе - перезагрузка страницы.
    $(document).ready(function () {
        $('#comment-form').submit(function () {
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (html) {
                    location.reload(true)
                },
                error: function (html) {
                    text = JSON.parse(html.responseText)
                    console.log(text)
                    toastr.error(text['error'])
                }
            });
            return false;
        });
    });
</script>
<script>
    // Переключение изображений при нажатии на их миниатюры.
    $(document).ready(function () {
        $('.thumbnails img').on({
            click: function () {
                let thumbnailURL = $(this).attr('src');
                $('.main_image img').fadeOut(200, function () {
                    $(this).attr('src', thumbnailURL);
                }).fadeIn(200);
            }
        });
    }); 
</script>
<script>
    // При нажатии кнопки +/- добавляется/уменьшается кол-во товара для добавления в корзину.
    $(document).ready(function () {
        $('#add-one').click(function () {
            let amount = parseInt($('#amount p').text(), 10)
            if (amount + 1 > '{{ product.quantity }}') {
                toastr.error("Осталось '{{ product.quantity }}' шт")
            } else {
                if (amount > 0) {
                    $('#amount p').text(amount + 1)
                    $(this).parent().prev().find("input[name='quantity']").attr('value', $(this).next().children('p').text())
                } else {
                    toastr.error("Не меньше 1 шт")
                }
            }
        });
    });
    $(document).ready(function () {
        $('#remove-one').click(function () {
            let amount = parseInt($('#amount p').text(), 10)
            if (amount > 1) {
                $('#amount p').text(amount - 1)
                $(this).parent().prev().find("input[name='quantity']").attr('value', $(this).prev().children('p').text())
            }
        });
    });
</script>
<div class="main-block">
    <div class="card-detail">
        <div class="images">
            <div class="main_image">
                {% thumbnail images|first "428x572" crop="center" upscale=True as product_image_main %}
                <img id="main_image" src="{{ product_image_main.url }}" />
                {% endthumbnail %}
            </div>
            <div class="thumbnails">
                {% with images|chunk_list:5 as chunks %}
                {% for chunk in chunks %}
                <div>
                    {% for obj in chunk %}
                    {% thumbnail obj "428x572" crop="center" upscale=True as product_image %}
                    <img src="{{ product_image.url }}" />
                    {% endthumbnail %}
                    {% endfor %}
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        <div class="sell-block">
            <div class="sell">
                <p id="product-name">{{ product.name }}</p>
                {% if product.quantity %}
                <p id="product-in-stock">В наличии {{ product.quantity }} шт</p>
                {% else %}
                <p id="product-not-stock">Нет в наличии</p>
                {% endif %}
                <p id="price">{{ product.price }} ₽</p>
                <div class="buttons">
                    <div class="in-cart">
                        {% include 'products/in-out_cart.html' %}
                        {% include 'products/in-out_favorite.html' %}
                    </div>
                    <div id="amount-buttons">
                        <button id="add-one" class="button-amount">
                            <img src="{% static 'card/add.svg' %}" />
                        </button>
                        <div id="amount" class="button-amount">
                            <p id="quantity" name="quantity">{{ quantity }}</p>
                        </div>
                        <button id="remove-one" class="button-amount">
                            <img src="{% static 'card/remove.svg' %}" />
                        </button>
                    </div>
                </div>
                <p id="company">Поставщик: {{ product.company }}</p>
            </div>
        </div>
    </div>
</div>
<div id="description-main-block" class="main-block">
    <div id="description-block">
        <p id="description-head-text">Описание</p>
        <p id="description-text">{{ product.description }}</p>
    </div>
</div>
{% if user.is_authenticated %}
<div id="description-main-block" class="main-block">
    <form id="comment-form" method="post" action="{% url 'user:review' product.id %}">
        {% csrf_token %}
        <div id="comment-block">
            <p style="margin-top: 0;">
                Оставить комментарий:
            </p>
            <div style="display: flex; margin-bottom: 10px;">
                <div style="width: 80%; display: flex;">
                    <p>
                        Заголовок
                    </p>
                    <input type="text" name="title" style="margin: 0 10px;">
                </div>
                <div class="rating-area">
                    <input type="radio" id="star-5" name="score" checked="checked" value="5">
                    <label for="star-5" title="Оценка «5»"></label>
                    <input type="radio" id="star-4" name="score" value="4">
                    <label for="star-4" title="Оценка «4»"></label>
                    <input type="radio" id="star-3" name="score" value="3">
                    <label for="star-3" title="Оценка «3»"></label>
                    <input type="radio" id="star-2" name="score" value="2">
                    <label for="star-2" title="Оценка «2»"></label>
                    <input type="radio" id="star-1" name="score" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
            </div>
            <textarea id="comment-area" name="text"></textarea>
            <button id="comment-button" type="submit" class="btn btn-primary">
                <p>
                    Сохранить
                </p>
            </button>
        </div>
    </form>
</div>
{% endif %}
<div id="description-main-block" class="main-block">
    <div id="comment-form">
        <div id="comment-block">
            {% for comment in comments %}
            <div class="comment">
                <div class="comment-head">
                    <div class="comment-head-author">
                        <p class="comment-head-author-text-1">
                            Автор:
                        </p>
                        <p class="comment-head-author-text-2">
                            {{ comment.user.username }}
                        </p>
                    </div>
                    <div class="comment-head-topic">
                        <p class="comment-head-topic-text">
                            {{ comment.title }}
                        </p>
                    </div>
                    <div class="comment-head-score">
                        <div class="rating-result">
                            {% if comment.score == 1 %}
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            {% elif comment.score == 2 %}
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            {% elif comment.score == 3 %}
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                            {% elif comment.score == 4 %}
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                            {% elif comment.score == 5 %}
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="comment-text">
                    <p class="comment-text-text">
                        {{ comment.comment }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}