{% extends 'base.html' %}
{% load static %}
{% load customtags %}
{% load thumbnail %}
{% block content %}
<div class="main-block">
    <div class="card-detail">
        <div class="images">
            <script>
                $(document).ready(function () {
                    $('.thumbnails img').on({
                        click: function () {
                            let thumbnailURL = $(this).attr('src');
                            $('.main_image img').fadeOut(200, function () {
                                $(this).attr('src', thumbnailURL);
                            }).fadeIn(200);
                        }
                    });
                }); 
            </script>
            <script>
                $(document).ready(function () {
                    $('#add-one').click(function () {
                        let amount = parseInt($('#amount p').text(), 10)
                        if (amount + 1 > '{{ product.quantity }}') {
                            toastr.error("Осталось '{{ product.quantity }}' шт")
                        } else {
                            if (amount > 0) {
                                $('#amount p').text(amount + 1)
                                $(this).parent().prev().find("input[name='quantity']").attr('value', $(this).next().children('p').text())
                            } else {
                                toastr.error("Не меньше 1 шт")
                            }
                        }
                    });
                });
                $(document).ready(function () {
                    $('#remove-one').click(function () {
                        let amount = parseInt($('#amount p').text(), 10)
                        if (amount > 1) {
                            $('#amount p').text(amount - 1)
                            $(this).parent().prev().find("input[name='quantity']").attr('value', $(this).prev().children('p').text())
                        }
                    });
                });
            </script>
            <div class="main_image">
                {% thumbnail images|first "428x572" crop="center" upscale=True as product_image_main %}
                <img id="main_image" src="{{ product_image_main.url }}" />
                {% endthumbnail %}
            </div>
            <div class="thumbnails">
                {% with images|chunk_list:5 as chunks %}
                {% for chunk in chunks %}
                <div>
                    {% for obj in chunk %}
                    {% thumbnail obj "428x572" crop="center" upscale=True as product_image %}
                    <img src="{{ product_image.url }}" />
                    {% endthumbnail %}
                    {% endfor %}
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        <div class="sell-block">
            <div class="sell">
                <p id="product-name">{{ product.name }}</p>
                {% if product.quantity %}
                <p id="product-in-stock">В наличии {{ product.quantity }} шт</p>
                {% else %}
                <p id="product-not-stock">Нет в наличии</p>
                {% endif %}
                <p id="price">{{ product.price }} ₽</p>
                <div class="buttons">
                    <div class="in-cart">
                        {% include 'products/in-out_cart.html' %}
                        {% include 'products/in-out_favorite.html' %}
                    </div>
                    <div id="amount-buttons">
                        <button id="add-one" class="button-amount">
                            <img src="{% static 'card/add.svg' %}" />
                        </button>
                        <div id="amount" class="button-amount">
                            <p id="quantity" name="quantity">{{ quantity }}</p>
                        </div>
                        <button id="remove-one" class="button-amount">
                            <img src="{% static 'card/remove.svg' %}" />
                        </button>
                    </div>
                </div>
                <p id="company">Поставщик: {{ product.company }}</p>
            </div>
        </div>
    </div>
</div>
<div id="description-main-block" class="main-block">
    <div id="description-block">
        <p id="description-head-text">Описание</p>
        <p id="description-text">{{ product.description }}</p>
    </div>
</div>
{% endblock %}