{% extends 'base.html' %}
{% load customtags %}
{% load thumbnail %}
{% block content %}
<div class="main-block">
    <p class="enter_text">Поиск</p>
</div>
<script>
    // После нажатия нужной сортировки она применяется в строке поиска
    $(function () {
        $(".active-filter, .in-active-filter").click(function (e) {
            e.preventDefault();
            search_form = document.getElementById('search-form')
            search_form.setAttribute('action', $(this).attr('href'))
            search_form.submit()
        });
    });
</script>
<div class="main-block" name="list">
    <div>
        <div class="icons-block">
            <a class="{% if now_sort == 'popular' %}active-filter{% else %}in-active-filter{% endif %}" name="popular"
                href="{% url 'products:search_sort' 'popular' %}">
                <p>Популярные</p>
            </a>
            <a class="{% if now_sort == 'min_price' %}active-filter{% else %}in-active-filter{% endif %}"
                name="min_price" href="{% url 'products:search_sort' 'min_price' %}">
                <p>Дешевле</p>
            </a>
            <a class="{% if now_sort == 'max_price' %}active-filter{% else %}in-active-filter{% endif %}"
                name="max_price" href="{% url 'products:search_sort' 'max_price' %}">
                <p>Дороже</p>
            </a>
            <a class="{% if now_sort == 'alphabet' %}active-filter{% else %}in-active-filter{% endif %}" name="alphabet"
                href="{% url 'products:search_sort' 'alphabet' %}">
                <p>По алфавиту</p>
            </a>
        </div>
        {% for row in page_obj %}
        <div class="row">
            {% for product in row %}
            <div class="card">
                <a class="image" href="{% url 'products:product' product.id %}">
                    {% thumbnail product.main_image "278x208" crop="center" upscale=True as product_image %}
                    <img src="{{ product_image.url }}" />
                    {% endthumbnail %}
                </a>
                <div class="card-down">
                    <div class="card-description">
                        <p class="popular-text">
                            {{ product.name }}
                        </p>
                        <div class="price-field">
                            <p class="price">{{ product.price }} ₽</p>
                            <div class="rating-mini">
                                {% if product.score == 1 %}
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                {% elif product.score == 2 %}
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                {% elif product.score == 3 %}
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                                {% elif product.score == 4 %}
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                {% elif product.score == 5 %}
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="in-cart">
                        {% include 'products/in-out_cart.html' %}
                        {% include 'products/in-out_favorite.html' %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% include 'includes/paginator.html' %}
    </div>
</div>
{% endblock %}