{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Строительный магазин "Тест сайт"</title>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script>
    // Добавление и удаление show выбранных элемент-id
    $(document).ready(function () {
        $('.dropdown').click(function () {
            document.getElementById("myDropdown").classList.toggle("show");
        });
    });
</script>
<script>
    // Передача данных на сервер
    $(document).on("submit", "#button-form-login, #button-form-signup, #button-form-profile", function () {
        var name = $(this).attr('name')
        var parent = $(this).parent()
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (html) {
                if (html['login']) {
                    location.reload(true)
                } else {
                    if (html['update']) {
                        toastr.success("Данные сохранены")
                    } else {
                        $('#button-form-' + name).remove()
                        parent.append(html)
                    }
                }
            }
        });
        return false;
    });
</script>
{% if user.is_authenticated %}
<script>
    // Клик авторизованного по корзине/избранному
    $(document).on("submit", ".form-in-cart, .form-favorite", function () {
        var name = $(this).attr('name')
        var form = $(this)
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (html) {
                form.replaceWith(html)
            }
        });
        return false;
    });
    $(function () {
        $('#orders, #cart').click(function () {
            if ($(this).attr("user") == 'False') {
                toastr.error("Войдите или зарегистрируйтесь!")
                return false
            }
        });
    });
</script>
{% else %}
<script>
    // Клик неавторизованного по корзине/избранному/заказам выдает сообщение
    $(function () {
        $('.button-in-cart, .button-favorite').click(function () {
            if ('{{ user.is_authenticated }}' == 'False') {
                toastr.error("Войдите или зарегистрируйтесь!")
                return false
            }
        });
    });
    $(function () {
        $('#orders, #cart, #favorite').click(function () {
            if ($(this).attr("user") == 'False') {
                toastr.error("Войдите или зарегистрируйтесь!")
                return false
            }
        });
    });
</script>
{% endif %}