<div class="success-order" style="display: unset;">
    <div id="success-order-block">
        <div id="success-order-up-block">
            <div id="success-order-img-block">
                <p id="success-order-text-1">404</p>
            </div>
            <div id="success-order-text-block">
                <p id="success-order-text-1">Страница не найдена</p>
                <p id="success-order-text-2">Неправильно набран адрес или такая страница больше не существует</p>
            </div>
        </div>
        <div id="success-order-down-block">
            <a href="{% url 'products:index' %}">
                <p>
                    Перейти на главную
                </p>
            </a>
        </div>
    </div>
</div>