{% extends 'base.html' %}
{% load static %}
{% load customtags %}
{% load thumbnail %}
{% block content %}

<div class="main-block">
    <p class="categorys-text">Категории</p>
    {% with categorys|chunk_list:5 as chunks %}
    {% for chunk in chunks %}
    <div class="category-row">
        {% for category in chunk %}
        <div class="category">
            <a href="{% url 'products:category' category.name %}">
                <p class="category-text">{{ category.name }}</p>
                {% thumbnail category.image "180x128" crop="center" upscale=True as category_image %}
                <img class="image" src="{{ category_image.url }}" />
                {% endthumbnail %}
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% endwith %}
</div>
<div class="main-block">
    <p class="categorys-text">Популярные товары</p>
    <div class="popular">
        {% for product in popular %}
        <div class="card">
            <a class="image" href="{% url 'products:product' product.id %}">
                {% thumbnail product.main_image "278x208" crop="center" upscale=True as product_image %}
                <img src="{{ product_image.url }}" />
                {% endthumbnail %}
            </a>
            <div class="card-down">
                <div class="card-description">
                    <p class="popular-text">
                        {{ product.name }}
                    </p>
                    <p class="price">{{ product.price }} ₽</p>
                </div>
                <div class="in-cart">

                    {% include 'products/in-out_cart.html' %}
                    {% include 'products/in-out_favorite.html' %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}