{% extends 'base.html' %}
{% load static %}
{% load customtags %}
{% load thumbnail %}
{% block content %}
<div class="main-block d-none d-lg-block container">
    <p class="categorys-text">Категории</p>
    <div class="category-row row">
        {% for category in categorys %}
        <div class="col-3 mb-4">
            <div class="category pt-3">
                <a href="{% url 'products:category' category.id %}">
                    <p class="category-text">{{ category.name }}</p>
                    {% thumbnail category.image "180x128" crop="center" upscale=True as category_image %}
                    <img class="image" src="{{ category_image.url }}" style: 'height: auto;' />
                    {% endthumbnail %}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="main-block container">
    <p class="categorys-text">Популярные товары</p>
    <div class="popular row">
        <div id="carouselRecommendations" class="owl-carousel">
            {% for product in popular %}
            <div class="card">
                <a class="image" href="{% url 'products:product' product.id %}">
                    <img src="{{ product.main_image.url }}" />
                </a>
                <div class="card-down">
                    <div class="card-description">
                        <p class="popular-text">
                            {{ product.name }}
                        </p>
                        <div class="price-field">
                            <span class="price">{{ product.price }} ₽</span>
                            <div class="rating-mini">
                                <span class="{% if product.score >= 1 %}active{% endif %}"></span>
                                <span class="{% if product.score >= 2 %}active{% endif %}"></span>
                                <span class="{% if product.score >= 3 %}active{% endif %}"></span>
                                <span class="{% if product.score >= 4 %}active{% endif %}"></span>
                                <span class="{% if product.score == 5 %}active{% endif %}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="in-cart">
                        {% include 'products/in-out_cart.html' %}
                        {% include 'products/in-out_favorite.html' %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            items: 5,
            margin: 10,
            nav: false,
            dots: false,
            responsive: {
                1400: {
                    items: 5
                },
                992: {
                    items: 4
                },
                576: {
                    items: 3
                },
                0: {
                    items: 2
                }
            }
        });
    });
</script>
{% endblock %}